// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
    "extends": "google",
    "rules": {
        "indent": [
            1,
            4
        ],
        "valid-jsdoc": 0,
        "operator-linebreak": 0,
        "max-len": 0,
        "space-before-function-paren": 0
    },
    "globals": {
        "angular": true,
        "gulp": true,
        "_": true,
        "document": true,
        "window": true,
        "describe": true,
        "beforeEach": true,
        "it": true,
        "expect": true,
        "assert": true
    }
}