body {
  background: #eee;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.todo-wrapper {
  background: #55B6AE;
  width: 40%;
  margin: 0 auto;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2em;
  padding: 20px;
  margin: 0;
  color: #333;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  font-size: 1em;
  padding: 10px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#e8e8e8));
  background: -webkit-linear-gradient(#fbfbfb 0%, #e8e8e8 100%);
  background: -moz-linear-gradient(#fbfbfb 0%, #e8e8e8 100%);
  background: -o-linear-gradient(#fbfbfb 0%, #e8e8e8 100%);
  background: linear-gradient(#fbfbfb 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0);
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
li span {
  padding-left: 15px;
}
li:hover {
  cursor: pointer;
}

form {
  border: 1px solid #ccc;
}

.done-true {
  text-decoration: line-through;
  color: #ccc;
}

.add-input {
  width: 60%;
  height: 20px;
  float: left;
  border: none;
  padding: 20px 0;
  font-size: 1.5em;
  text-indent: 35px;
}

.add-btn {
  width: 40%;
  border: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaa), to(#777));
  background: -webkit-linear-gradient(#aaa 0%, #777 100%);
  background: -moz-linear-gradient(#aaa 0%, #777 100%);
  background: -o-linear-gradient(#aaa 0%, #777 100%);
  background: linear-gradient(#aaa 0%, #777 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0);
  padding: 0;
  height: 60px;
}
.add-btn h2 {
  padding: 0;
  font-size: 2em;
  color: #333;
}
.add-btn:hover {
  cursor: pointer;
}

.clear-btn {
  width: 100%;
  border: none;
  height: 60px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#969696), to(#666));
  background: -webkit-linear-gradient(#969696 0%, #666 100%);
  background: -moz-linear-gradient(#969696 0%, #666 100%);
  background: -o-linear-gradient(#969696 0%, #666 100%);
  background: linear-gradient(#969696 0%, #666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0);
  font-size: 1em;
  color: #333;
}
.clear-btn:hover {
  cursor: pointer;
}
